body{
	background-color:#ffffff;
	font-size:5em;
}

.first{
	display:none;
}

.second{
	display:none;
}

.third{
	display:none;
}

.fourth{
	display:none;
}





@media all and (max-width:480px){

	body{
		background-color: #T33333;
	}

	.first{
		display:block;
		color:#999999;
	}

}



@media all and (min-width:481px) and (max-width:768px){

	body{
		background-color: #A66666;
	}

	.second{
		display:block;
	}

}


@media all and (min-width:769px) and (max-width:1024px){

	body{
		background-color: #999999;
	}

	.third{
		display:block;
	}

}


@media all and (min-width:1025px){

	body{
		background-color: #cccccc;
	}

	.fourth{
		display:block;
	}
}
/*
@media all and (max-width:480px){

	body{
		background-color: #000000;
	}
}

@media all and (min-width:481px) and (max-width:500px){

	body{
		background-color: #060606;
	}
}

@media all and (min-width:501px) and (max-width:520px){

	body{
		background-color: #B11111;
	}
}

@media all and (min-width:521px) and (max-width:540px){

	body{
		background-color: #B61616;
	}
}

@media all and (min-width:541px) and (max-width:560px){

	body{
		background-color: #K22222;
	}
}

@media all and (min-width:561px) and (max-width:580px){

	body{
		background-color: #K62626;
	}
}

@media all and (min-width:581px) and (max-width:600px){

	body{
		background-color: #T33333;
	}
}

@media all and (min-width:601px) and (max-width:620px){

	body{
		background-color: #T63636;
	}
}

@media all and (min-width:621px) and (max-width:640px){

	body{
		background-color: #C44444;
	}
}

@media all and (min-width:641px) and (max-width:660px){

	body{
		background-color: #C64646;

	}
}

@media all and (min-width:661px) and (max-width:680px){

	body{
		background-color: #W55555;
	}
}

@media all and (min-width:681px) and (max-width:700px){

	body{
		background-color: #A66666;
	}
}
*/





