html { 
  background: url("Main/HB.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
    width:95%;
    height:170px;
    margin: 10px;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px white;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}
a:link, a:visited {
    color: white; 
    text-decoration: underline;
    text-shadow: -1px -1px 1px black;
}

a:hover, a:active {
    color: #011066;
     text-shadow: 1px 1px 2px white;
    text-decoration: underline;
}
h2.era{
    text-align: justify;
    color: #d8775f;
    text-shadow: 2px 2px 8px white;
   /* #Ca4a66 */
}
body{
    font-family: 'Slabo 27px', sans-serif;
    color: white;
}
p{
   text-align: left;
    padding: 10px;
    font-size: 20px;
    text-shadow: -1px -1px 1px black;
    background-color: rgba(0,0,0,0.2);
}
ul{
  font-family: 'Slabo 27px', sans-serif;
    list-style-position: outside;
    list-style-type: armenian;
}
#credits{
    font-size: 12px;
    clear: both;
}
#MainH{
    height: 400px;
    width: 95%;
}
figure.main {
    width: 96%;
    height: 500px;
    text-align: center;
}
/*16th Centruy*/

#date_16{
    text-align: right;
    background-color: none;
}
#address_16{
    text-align: left;
}
#content_16{
    text-indent: 10px;
}
#end_16{
    text-align: right;
}
#sign_16{
    text-align: right;
    text-indent: 200px;
}
figure.the16th{
    float: left;
    width: 300px;
    height: 300px;
}
#letterj{
    float: left;
    
}
figure.the17th{
    width: 95%;
    height: 350px;
    text-align: center;
}
figure.the17th2{
    float: right;
}
#the17th{
    width: auto;
    text-align: center;
}
#gif18{
    text-align: center;
}
figure.the19th{
    width: 350px;
    height: 350px;
    float: left;
}
figure.the19th2{
    float: right;
     width: 350px;
    height: 350px;
}

#the21st{
    width:400px;
    float: left;
    background-color: rgba(0,0,0,0.2);
}
#the21{
    padding-left: 5%;
    width: 400px;

}
#gif20{
    float: right;
}
#gif21{
    float: right;
    width: 500px;
    text-align: center;
    height: 200px;
}
#gif212{
    float: right;
    width: 500px;
    text-align: center;
    height: 200px;
}
#gifAH{
   text-align: center;
}

figure.AH{
    float: left;
}
#AH1{
    text-indent: 50px;
    background-color: rgba(0,0,0,0.2);
}
#AH2 {
    float: left;
    text-indent: 50px;
    background-color: rgba(0,0,0,0.2);
}
#gifMA{
    text-align: center;
}

#MA, #MA2{
      text-indent: 50px;
}

#Paleo{
    text-indent: 50px;
        background-color: rgba(0,0,0,0.2);
}
figure.Paleo, figure.Neo{
    float:left;
}
#Neo{
    text-indent: 50px;
    background-color: rgba(0,0,0,0.2);
    width:500px;
    float:left;
    padding-left: 50px;
}